.App {
    height: 100vh;
}
.main-div {
    margin-top: 3em;
}
.main-div-margin {
    margin-left: 14vw;
}
.content {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 1em;
}
.left-container-sizing {
    grid-column: span 5;
}
.right-container-sizing {
    grid-column: span 3;
}

.login-image {
    display: block;
    margin: auto;
    width: 100px;
    margin-top: 15px;
}
.login-footer {
    font-size: small;
    color: gray;
}
.time-span {
    font-size: 1.3em;
    font-weight: 550;
    margin-bottom: 10px;
}
.product {
    background-color: white;
    border-bottom: 1px solid rgb(230, 230, 230);
}
.product-info {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 1em;
}
.product-info:hover {
    cursor: pointer;
    background-color: rgb(243, 248, 250);
}
.product-image-wrapper {
    grid-column: span 1;
}
.product-image {
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left: 18px;
}
.product-description {
    grid-column: span 5;
    margin-bottom: 4%;
}
.product-breef {
    font-size: 0.9em;
    color: gray;
}
.vote-button-warrper {
    grid-column: span 1;
}
.vote-button {
    border: 1px solid rgb(230, 230, 230);
    width: 65px;
    height: 80px;
    margin-top: 15%;
    margin-right: 1em;
    float: right;
}

.product-name {
    font-weight: 600;
    margin-top: 1.3em;
}
.comment-button {
    border: 1px solid rgb(230, 230, 230);
    font-size: 0.7em;
    font-weight: 700;
    color: gray;
}
.category-link {
    color: gray;
    font-size: 0.8em;
    margin-left: 1em;
}

.side-main-div {
    float: right;
    margin-right: 15em;
    margin-top: 3.5em;
}
.div-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    min-width: 1px;
    font-size: 1.3em;
    font-weight: 600;
}
.side-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
}
.side-product-breef {
    grid-column: span 3;
    background-color: black;
}
.side-product-image {
    grid-column: span 1;
    background-color: blue;
}
.test1 {
    width: 20em;
    height: 30em;
}
@media only screen and (max-width: 1200px) {
    .side-main-div {
        display: none;
    }
    .main-div-margin {
        margin: 3em;
    }
    .left-container-sizing {
        grid-column: span 8;
    }
}
/* product modal */

.modal-wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.modal-product-header {
    grid-column: span 6;
}
.modal-side-div {
    grid-column: span 2;
}
